In [ ]:
#importing dataset
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.model_selection import train_test_split

**importinging the dataset**

In [ ]:
dataset = pd.read_csv('Softness(1).csv')
X = dataset.iloc[:, 1:-1].values
y = dataset.iloc[:, -1].values
print(dataset.head())

   Batch No  Total Weight(Kgs)  ...  Temprature(Celcius)  Reduced Weight(Kgs)
0         1                 64  ...                   90                55.78
1         2                 62  ...                   95                52.64
2         3                 61  ...                   93                54.55
3         4                 67  ...                   91                60.56
4         5                 66  ...                   96                59.59

[5 rows x 7 columns]

In [ ]:
dataset.corr()

                      Batch No  ...  Reduced Weight(Kgs)
Batch No              1.000000  ...            -0.152925
Total Weight(Kgs)     0.084030  ...            -0.245629
Total Meters          0.038888  ...             0.200593
NaOH(Kgs)             0.151360  ...            -0.815941
Purity of Water(ppm)  0.051380  ...            -0.001433
Temprature(Celcius)  -0.056893  ...            -0.143597
Reduced Weight(Kgs)  -0.152925  ...             1.000000

[7 rows x 7 columns]

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [ ]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
y_pred = regressor.predict(X_test)
np.set_printoptions(precision=2)
print(y_pred.reshape(len(y_pred),1))
print(y_test.reshape(len(y_test),1))
print(regressor.score(X_test, y_test))

[[58.57]
 [43.68]
 [48.73]
 [51.27]
 [56.99]
 [57.42]
 [51.1 ]
 [55.15]
 [53.71]
 [48.59]
 [53.78]
 [56.74]
 [43.56]
 [43.07]
 [47.34]
 [53.56]
 [45.19]
 [54.11]
 [45.23]
 [50.22]
 [49.9 ]
 [44.98]
 [48.75]
 [54.  ]
 [52.27]
 [54.1 ]
 [45.18]
 [53.8 ]
 [52.88]
 [52.19]]
[[58.32]
 [49.79]
 [45.76]
 [51.42]
 [57.63]
 [57.88]
 [51.28]
 [54.97]
 [54.38]
 [49.36]
 [53.51]
 [56.77]
 [43.74]
 [43.22]
 [47.57]
 [53.55]
 [46.88]
 [54.28]
 [44.87]
 [50.  ]
 [50.  ]
 [44.65]
 [48.89]
 [52.67]
 [52.38]
 [54.65]
 [47.45]
 [53.58]
 [52.34]
 [52.75]]
0.8879721764139517

In [ ]:
import math
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
print("RMSE: ", math.sqrt(mean_squared_error(y_test,y_pred)), "R2 Score:", r2_score(y_test,y_pred))

RMSE:  1.4049018877500112 R2 Score: 0.8879721764139517